.addProjects__container {
    height: 850px;
    width: 80%;
    min-width: 900px;
    background-color: rgb(189, 187, 187);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addProjects__text-inputs {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & h2 {
        margin-top: 10px;
        margin-left: 20px;
        width: 100%;
        height: 50px;
    }
    & input {
        height: 50px;
        padding-left: 10px;
        width: 120px;
    }
    & textarea {
        height: 200px;
        width: 60%;
    }
}

.addProjects__image-inputs {
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & h2 {
        height: 50px;
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
    }
}

.addProjects__image-sub {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 380px;
}

.addProjects__thumbnail-input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & button {
        width: 40%;
    }
}

.addProjects__uploaded-img-container{
    height: 260px;
    width: 260px;
    margin: 10px 5px;
    overflow: hidden;
}

.addProjects__add-button {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & button {
        height: 40px;
        width: 200px;
    }
}

.addProject__show-slides {
    margin-top: 10px;
    width: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.addProject__slideshow {
    width: 300px;
    height: 80%;
}

.addProject__slideshow:hover{
    
    // background-color: black;
    & .default-nav {
        visibility: visible;
    }
}

.default-nav {
    visibility: hidden;
}

.images-wrap > div {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each-slide {
    margin: 0;
    height: 200px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}