

.contact {
    height: 900px;
    background-color: #f3f3f3;
    position: relative;
}

.contact__outline-div-red {
    position: absolute;
    width: 100%;
    top: -10px;
    height: 205px;
    background: #C52346;
    clip-path: polygon(0 92%, 50% 0, 100% 92%, 100% 100%, 50% 8%, 0 100%);
}

.contact__form-wrapper {
    display: flex;
    align-items: center;
    height: 900px;
    background-color: rgb(28, 29, 39);
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 50% 80%, 0 100%);
}

.contact-form {
    display: flex;
    width: 100%;
    height: 700px;
    padding-bottom: 150px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.contact__header {
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #C52346;
    margin-bottom: 20px;
}

// .contact-form  input {
//     padding-left: 3px;
//     height: 27px;
//     width: 200px;
// }

.FormField {
    width: 30%;
    margin-bottom: 20px;
    position: relative;
    height: 50px;
    text-align: left;
    overflow: hidden;
}

.FormField__message {
    height: 270px;
}

.FormField__Input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: none;
    font-size: 15px;
}

.FormField__Input-message {
    height: 200px;
    margin-top: 30px;
    overflow-y: scroll;
    text-align: left;
}

.FormField__Label {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(122, 121, 121);;
    font-size: 16px;
}

.FormField__Label-message {
    pointer-events: none;
}

.FormField__Label::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom:2px solid #fff;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.FormField__title{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.FormField__title-message {
    height: 200px;
    padding-top: 182px;
}

.FormField__Input:focus + .FormField__Label .FormField__title, .FormField__Input:valid + .FormField__Label .FormField__title{
    transform: translateY(-100%);
    font-size: 14px;
    color: rgb(204, 200, 200);
}

.FormField__Input:focus + .FormField__Label::after, .FormField__Input:valid + .FormField__Label::after{
    transform: translateX(0%);
}

.FormField__Submit-button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 2px solid #C52346;
    background: none;
    color: #C52346;
    font-size: 20px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.FormField__Submit-button:hover,
.FormField__Submit-button:focus {
    background-color: #C52346;
    color: rgb(28, 29, 39);
}

.contact__outline-div-red2 {
    position: absolute;
    width: 100%;
    top: 719px;
    height: 181px;
    background: #C52346;
    // clip-path: polygon(0 92%, 50% 0, 100% 92%, 100% 100%, 50% 8%, 0 100%);
    clip-path: polygon(50% 0%, 100% 100%, 50% 8%, 0 100%);
    z-index: 0;
}

.contact__up-arrows {
    height: 50px;
    width: 50px;
    background-color: #C52346;
    color: black;
    position: absolute;
    top: 728px;
    left: 50%;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    transform: translateX(-50%);
    & .arrow2 {
        // color: white;
        position: absolute;
        top: 2px;
        left: 5px;
    }
}

.contact__up-arrows:hover {
    color: white;
}